<h1>Today's Hottest Deals</h1>

<body>
  <div class="col-md-offset-3 container col-lg-6 search">
    <input id="submit" type="text" placeholder="enter in a city" class="form-control"/>
    <div>
      <button id="button">Hotel Search</button>
      <button>Advance Search</button>
    </div>
  </div>

</body>


