<h1 style="text-align:center;">Where is your next adventure?</h1>

<body>
  <div class="col-md-offset-3 container col-lg-6 search">
    <input type="text" placeholder="enter in a city" class="form-control" id="submit">
    <button type="submit" id="button" class="btn btn-primary">Hotel Search</button>
    <button class="btn btn-info">Advance Search</button>
  </div>

  <div class="col-lg-10 col-md-offset-3" style="top: 300px"></div>


  <script>
  $(document).ready(function(){

   $.get('http://jsonp.jit.su/?url=http%3A%2F%2Fdeals.expedia.com%2Fbeta%2Fdeals%2Fhotels.json', function(data){
    $.each(data, function(key, value){
      if (key < 5)
        $(".col-lg-10").append(value['city']+"<img src="+value['imageUrl']+">");
  });
  });
});

  </script>



</body>


