<h1 class='header'>Where is your next adventure?</h1>

<body>
  <div class="col-md-offset-3 container col-lg-6 search">
    <input type="text" placeholder="enter in a city" class="form-control" id="submit">
    <button type="submit" id="button" class="btn btn-primary">Hotel Search</button>
    <button class="btn btn-info">Advance Search</button>
  </div>

  <div class="col-lg-11 col-md-offset-1" style="top: 200px; padding-left: 0px;">
    <ul id='hotDeals'>
    </ul>

  </div>



  <script>
  $(document).ready(function(){

   $.get('http://jsonp.jit.su/?url=http%3A%2F%2Fdeals.expedia.com%2Fbeta%2Fdeals%2Fhotels.json', function(data){

    $.each(data, function(key, value){

      var imageUrl = value['imageUrl']
      var city = value['city']
      var country = value['country']
      var name = value['name']
      var rating = value['starRating']

      if (key < 12 && value['pricePerNight'] < 70) {
        $("ul").append("<li><figure><img src="+imageUrl+"></figure><div class='description'>"+city+", "+country+"<div>"+name.substring(0,20)+"...<div class='rating' data-score=+" +rating+"></div></div></div></li>")

        $('.rating').raty({ 'readOnly': true,
                score: function() {
              return $(this).attr('data-score');
  }

});


      }
  });
  });
});

  </script>



</body>


